$white: #fafaf6;
// $green: #20a39e;
$green: #49c1bd;
$orange: #e94f37;
$black: #393e41;
$purple: #989fce;
$coral: #f38d68;
$beige: #ceb5a7;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Comfortaa', cursive;
